.rc-hero-shape-wrapper{
    position:absolute;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    z-index:-1;
}
.rc-hero-top-left-bg{
    mask-image: url("./assets/img/vector-1.svg");
    -webkit-mask-image: url("./assets/img/vector-1.svg");
    background:#7C3EFF;
    width:383px;
    height:383px;
    left:0;
    top:0;
}
.rc-hero-top-right-bg{
    mask-image: url("./assets/img/vector-2.svg");
    -webkit-mask-image: url("./assets/img/vector-2.svg");
    background:#BE229C;
    width:412px;
    height:412px;
    right:0;
    top:0;
}
.rc-hero-bottom-left-bg{

}
.rc-hero-bottom-right-bg{
    mask-image: url("./assets/img/vector-4.svg");
    -webkit-mask-image: url("./assets/img/vector-4.svg");
    background:#FFC93E;
    width:258px;
    height:258px;
    right:0;
    bottom:0;
    
}