.rc-path{
    background-image:url("./assets/img/path.png");
    background-position: right 16.5% top 10px ;
    background-size:auto;
    background-repeat:no-repeat;
    background-origin: content-box;
    background-clip: border-box;
}
// mask css
.maskCommonCss {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}
.rc-hero-shape-wrapper{
    position:absolute;
    z-index:-1;
}
.rc-hero-top-left-bg{
    mask-image: url("./assets/img/vector-1.svg");
    -webkit-mask-image: url("./assets/img/vector-1.svg");
    background:#7C3EFF;
    width:100%;
    height:100%;
    @extend .maskCommonCss;
}
.rc-hero-top-right-bg{
    mask-image: url("./assets/img/vector-2.svg");
    -webkit-mask-image: url("./assets/img/vector-2.svg");
    background:#BE229C;
    width:100%;
    height:100%;
    @extend .maskCommonCss;
}
.rc-hero-bottom-left-bg{
    mask-image: url("./assets/img/vector-3.svg");
    -webkit-mask-image: url("./assets/img/vector-3.svg");
    background:#22B5BE;
    width:100%;
    height:100%;
    @extend .maskCommonCss;
}
.rc-hero-bottom-right-bg{
    mask-image: url("./assets/img/vector-4.svg");
    -webkit-mask-image: url("./assets/img/vector-4.svg");
    background:#FFC93E;
    width:100%;
    height:100%;
    @extend .maskCommonCss;
}